header {
  background-color: #484848;
}

header span {
  font-size: 25px;
  color: #999;
}

header .icon-menu {
  font-size: 50px;
  color: #c1c1c1;
}

header #dropdown-menu {
  background-color: rgba(0, 0, 0, 0.85);
  /*visibility: hidden;*/
}

header #dropdown-menu li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);
  font-size: 25px;
}
