header {
  height: 90px;
}

header img {
  float: left;
  padding: 20px 5px 20px 5px;
  height: 50px;
}

header span {
  float: left;
  line-height: 90px;
}

header .icon-menu {
  float: right;
  padding: 20px 5px 20px 5px;
}

header #dropdown-menu {
  clear: both;
  position: absolute;
  width: 100%;
  margin-top: 90px;
}

header #dropdown-menu li {
  height: 90px;
  line-height: 90px;
  text-indent: 20px;
}
